body {
  background-color: rgb(231, 101, 78);
}

.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.hero {
  font-size: 35px;
  color: #fff;
  letter-spacing: -.05em;
  line-height: 50px;
  font-family: 'Revalia', cursive;;
}

.second-img {
  display: none !important;
}


/* --- MEDIA QUERIES --- */
@media screen and (min-width: 476px) {
  .container {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero {
    font-size: 40px;
  }
}

@media screen and (min-width: 525px) {
  .hero {
    font-size: 45px;
  }
}

@media screen and (min-width: 700px) {
  body {
    background: url('../images/coffee-overlay.gif') no-repeat center center fixed;
    background-size: cover;
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 750px) {
  .hero {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 60px;
    line-height: 63px;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    font-size: 75px;
    line-height: 70px;
    word-wrap: break-word;
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.699);
  }
}