/* - XS - max-width: 575px - & 
   - SM - max-width: 767px -
*/
body {
  font-family: 'Baloo 2', cursive;
  font-size: 1rem;
  background-color: #ffcccc;
}

.navbar {
  background-color: transparent !important;
}

.brand_name {
  font-family: 'Lobster Two', cursive;
  font-size: 1.05rem;
  letter-spacing: .18em;
  text-transform: uppercase;
  font-weight: bold;
  color: #1e3369;
}

.carousel_box {
  padding: 0;
}



/* --- MEDIA QUERIES --- */

/* - XL - min-width: 1200px - */
@media (min-width: 1200px) {
  .carousel-inner {
    max-height: 90.5vh !important;
  }
}

